.create-quiz-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightseagreen;
	border-radius: 5px;

	width: 700px;
	height: 700px;

	font-family: Arial;
}
