table {
	border-collapse: collapse;
}

th,
td {
	padding: 8px;
	text-align: center;
}

th {
	font-size: 14px;
	background-color: white;
	color: lightseagreen;
	font-weight: bold;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

td {
	font-size: 14px;
	height: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

tr {
	border-bottom: 1px solid #ddd;
}

.table-btn {
	font-weight: bold;
	background-color: lightseagreen;
	color: white;
	width: 100px;
	height: 20px;
	cursor: pointer;
}
