.question {
	font-size: 30px;
	margin-bottom: 15px;
}

.option {
	background-color: white;
	color: lightseagreen;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 5px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

.option-selected {
	font-weight: bold;
	font-size: 22px;
}

.next,
.finish {
	margin-top: 20px;
}

.disable-btn {
	cursor: auto;
	color: rgb(146, 243, 238);
}
