.quiz-questions {
	margin-top: 12px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	row-gap: 8px;
}

.quiz-basic-info {
	padding-bottom: 5px;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: white;
}
